@import "./reset.css";
@import "./variables.css";

body {
    font-family: var(--primary-font);
}

.header {
    margin: 10px 35px 15px;
}

.image {
    border-radius: 100%;
    border: 3px solid var(--blue);
    bottom: -15px;
    box-shadow: 0 4px 4px var(--black-transparent);
    display: block;
    height: 150px;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.title {
    background-color: var(--blue);
    border-radius: 20px;
    color: var(--pink);
    font-size: 25px;
    padding: 22px;
    text-align: center;
}
.container {
    margin: 15px 35px;
}
.subtitle {
    background-color: var(--blue);
    border-radius: 9px;
    color: var(--pink);
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: left;
}
.text {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: justify;
}
.topics {
    font-size: 15px;
}
.item {
    color: var(--black);
    cursor: pointer;
    margin-bottom: 9px;
}
.link {
    color: inherit;
}
